.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
