@media screen and (max-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 488px) {
  .catalog {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
